* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landingpag {
font-family: 'Geologica', sans-serif;
  background-color: #DA291C; 
  width: 100vw;
  height: 100vh;
}

.navbar {
  display: flex;
    width: 100%;
    justify-content: space-between;
    padding-inline: 40px;
    padding-top: 20px;
}

.logosmall {}

.usuariolanding {
  width: 448px;
  height: 93px;
  background-color: #F0CE46;
  color: #DA291C;
  border-radius: 150px;
  font-size: 60px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-top: 10px;
}

.disponible {
  color:#F0CE46;
  font-weight: bold;
  font-size: 64px;
  padding-top: 30px;
  padding-left: 50px;
}

.panchos {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.clasicopancho {
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clasicoboton {
  cursor: pointer;
    align-items: center;
  justify-content: center;
}

.clasicodesc {
  font-size: 32px;
  color:#F0CE46;
  font-weight: bold;
  padding-top: 20px;
}
.precioclasico {
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color:#F0CE46;
  font-weight: bold;
}

.guacamolepancho {
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
}

.guacamoleboton {
  cursor: pointer;
}

.guacamoledesc {
  font-size: 32px;
  color:#F0CE46;
  font-weight: bold;
  padding-top: 20px;
}
.precioguacamole {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color:#F0CE46;
  font-weight: bold;
}

.criollopancho {
    display: flex;
    flex-direction: column;
  align-items: center;
  justify-content: center;
}

.criolloboton {
  cursor: pointer;
}

.criollodesc {
  font-size: 32px;
  color:#F0CE46;
  font-weight: bold;
  padding-top: 20px;
}
.preciocriollo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color:#F0CE46;
  font-weight: bold;
}
